    <hr class="separator">

    <section id="archive" class="clearfix">
      <div class="content">
        <div class="row">
          <div class="loader text-center" ng-show="loading">
            <img src="/assets/images/loader.gif" alt="">
          </div>
          <div ng-repeat="post in posts" class="post row" id="post-{{ post.ID }}" ng-hide="loading">
            <div class="metadata">
              <h2><a href="/blog/{{ post.slug }}">{{ post.title }}</a></h2>
              <time>{{ post.date | wpDate : 'MMMM dd, yyyy' }}</time>
            </div>
            <div class="content">
              <div ng-bind-html="post.excerpt"></div>
            </div>
          </div>

          <button type="button" class="btn btn-lg pull-left hidden" ng-click="archive.prevPage()" ng-show="page != 1">Previous Page</button>
          <button type="button" class="btn btn-lg pull-right hidden" ng-click="archive.nextPage()" ng-show="page != totalPages">Next Page</button>
        </div>
      </div>
    </section>

    <hr class="separator">

    <section-footer></section-footer>
