    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="about">
            <h2>About Mario</h2>
            <img src="http://www.gravatar.com/avatar/33d4061c715acc43fcac7afc72dbdcec.png?s=90" alt="Mario Aguiar" class="avatar pull-left">
            <p>I'm a Connecticut based web developer who fell in love with <a href="http://wordpress.org">WordPress</a> long ago, since then I've moved into HTML, CSS, Javascript and more recently Drupal.</p>
            <p>This website has been built using <a href="http://wordpress.org">WordPress</a> and <a href="http://angularjs.org">AngularJS</a>. </p>
          </div>
          <div class="contact clearfix">
            <h2>Get in Touch</h2>
            <p>If you want to get in touch with me, just send me a mail or give me a call!</p>
            <address>
              <ul>
                <li><abbr title="Phone">P:</abbr> (203) 543-4515</li>
                <li><a href="mailto:me@marioaguiar.net">me@marioaguiar.net</a></li>
                <li><a href="http://twitter.com/emeaguiar">@emeaguiar</a></li>
              </ul>
            </address>
          </div>
        </div>
      </div>
    </section>
