    <hr class="separator">

    <section id="post">
      <div class="container">
        <div class="row">
          <div class="loader text-center" ng-class="single.loading ? '' : 'hidden'">
            <img src="/assets/images/loader.gif" alt="">
          </div>
          <div class="post hidden" id="post-{{ single.post.id }}" ng-class="single.loading ? 'hidden' : ''">
            <div class="metadata">
              <h1>{{ single.post.title }}</h1>
              <time>{{ single.post.date | wpDate : 'MMMM dd, yyyy' }}</time>
            </div>
            <div ng-bind-html="single.post.content"></div>
          </div>
        </div>
      </div>
    </section>

    <hr class="separator">

    <section-footer></section-footer>
