@import bootstrap

// Define colors
$lightGreen: #8dc8ad
$lightBrown: #8f7051
$darkBrown: #62503c
$lightBeige: #f1eeda
$darkBeige: #c0a383
$darkRed: rgba(109, 0, 66, 0.6)

$font: "Droid Serif", serif

$colWidth: 78px

$bodyBackground: $lightGreen
$detailsBackground: $darkBrown
$contactBackground: $lightBrown
$textColor: $lightBeige
$separatorColor: $darkBeige
$linkColor: $textColor
$invalidText: $darkRed
$inputColor: lighten($detailsBackground, 10%)

// Buttons
$buttonColor: lighten($detailsBackground, 10%)

// Home
body
  background: $bodyBackground
  color: $textColor
  font-family: $font
  a
    color: $linkColor
    &:hover, &:active
      color: $contactBackground
      text-decoration: none

code
  background-color: $contactBackground
  color: $textColor

pre
  @extend code
  border: 0

.container
  +container-fixed()
  @media (min-width: $screen-sm-min)
    width: $container-sm
  @media (min-width: $screen-md-min)
    width: $container-md
  @media (min-width: $screen-lg-min)
    width: $container-lg

.row
  +make-row()

.message-success
  background-color: #dff0d8
  color: #3c763d
  padding: 15px

.message-error
  @extend .message-success
  color: #a94442
  background-color: #f2dede

.loader
  margin: 15px

#navigation
  +make-md-column(8)
  +make-md-column-offset(2)

#welcome
  margin-top: 8%
  padding-bottom: 130px
  text-align: center
  p
    font-size: 40px
    strong
      background: $textColor
      border-radius: 10px
      color: $bodyBackground
      font-weight: 500
      padding: 5px 15px

hr.separator
  border-top: 10px solid $separatorColor
  margin: 0

#details
  background: $detailsBackground
  padding: 50px 0
  article
    +make-md-column(4)
  .photo
    @extend article

#contact
  background: $contactBackground
  padding: 50px 0
  .social
    +make-md-column(10)
    +make-md-column-offset(1)
    .envelope
      +make-md-column(4)
    ul
      @media only screen and (min-width: 602px)
        width: $colWidth * 6
      +center-block
  #message
    background: lighten($detailsBackground, 10%)
    border: 1px solid darken($contactBackground, 10%)
    color: $textColor
    height: 200px
    margin: 5px 0 10px
  input
    @extend #message
    font-size: 20px
    height: auto
    margin: 5px
    padding: 3px
  #send
    color: $buttonColor
    font-size: 25px
    margin-bottom: 20px
    text-transform: uppercase
  form
    fieldset
      +make-md-column(8)
      .input-field
        +make-md-column(6)
      .message-field
        +make-md-column(12)
    aside
      +make-md-column(4)

input.ng-invalid.ng-dirty
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $invalidText
input.ng-valid.ng-dirty
  outline-color: #01543A !important

// Archive
#archive
  background: $detailsBackground
  & > .content
    +make-md-column(8)
    +make-md-column-offset(2)
  button
    color: $buttonColor
    margin-bottom: 20px
  .post
    border-bottom: 3px dotted
    padding: 30px
    &:last-of-type
      border: 0
    h2
      font-size: 1.3em
      text-transform: uppercase
    time
      font-size: .9em
      text-transform: uppercase
    .metadata
      +make-md-column(4)
      text-align: right
      @media only screen and ( max-width: $container-md )
        text-align: left
    .content
      +make-md-column(8)
      margin-top: 18px

// Single
#post
  background: $detailsBackground
  a
    border-bottom: 1px solid
    &:hover
      border: 0
  .metadata
    border-bottom: 3px dotted
    margin-bottom: 15px
    padding-bottom: 15px
    text-align: center
    @media only screen and ( max-width: 700px )
      text-align: left
  time
    text-transform: uppercase
  .post
    +make-md-column(8)
    +make-md-column-offset(2)
    h2
      @extend .metadata
      text-align: left

// Comment form
#comment-form
  background: $contactBackground
  form
    +make-md-column(8)
    +make-md-column-offset(2)
    .btn-submit
      color: $buttonColor
      margin-bottom: 20px
    input
      background: lighten($detailsBackground, 10%)
      border: 1px solid darken($contactBackground, 10%)
      color: $textColor
    .input-field
      +make-md-column(4)
    .message-field
      +make-md-column(8)
      textarea
        @extend input
        height: 100px

// Footer
#footer
  background: $contactBackground
  padding-bottom: 15px
  a
    border-bottom: 1px solid
    &:hover
      border: none
      color: $textColor
  h2
    text-transform: uppercase
  .about
    +make-md-column(6)
    +make-md-column-offset(1)
    .avatar
      margin-right: 5px
      padding-right: 5px
  .contact
    +make-md-column(4)
